<div *ngFor="let escritor of arrEscritores" class="card mb-3 mx-auto" style="max-width: 540px;" [routerLink]="['/escritor', escritor.id]">
  <div class="row no-gutters">
    <div class="col-4">
      <img [src]="escritor.imagen" class="card-img" alt="...">
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">{{ escritor.nombre }} {{ escritor.apellidos }} <small class="text-muted">({{ escritor.pais | uppercase }})</small></h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>