.wrapper {
	width: 400px;
	margin: 0 auto;
}

input.ng-invalid.ng-touched {
	border: 1px solid red;
}

input.ng-valid.ng-touched {
	border: 1px solid green;
}

.boxError {
	margin-top: 6px;
}

.titleError {
	background-color: darkred;
	color: white;
	font-weight: bold;
	padding: 6px;
	border-radius: 10px;
	font-size: 0.8em
	
}