<!--<div class="left">
  <saludo></saludo>
  <saludo></saludo>
  <saludo></saludo>
</div>
<div class="right">
  <saludo></saludo>
  <saludo></saludo>
  <saludo></saludo>
  <saludo></saludo>
</div>-->
<div>
  <app-contador [start]="numeros[0]" end="2" (terminado)="handleTerminado($event)"></app-contador>
</div>
<app-contador [start]="numeros[1]"></app-contador>
<app-contador [start]="numeros[2]" [end]="numeros[0]"></app-contador>
<app-contador [start]="numeros[3]" end="5" (terminado)="handleTerminado($event)"></app-contador>

<!--<app-calculadora></app-calculadora>-->

<!--<app-formulario-simple></app-formulario-simple>-->

<!--<app-formulario-registro></app-formulario-registro>-->

<suma a="4" b="20" (total)="handleTotal($event)"></suma>