div {
	margin: 0 auto;
	width: 150px;
	font-size: 5em;
	padding: 15px;
	background-color: gold;
	color: darkblue;
	border: 3px solid darkblue;
	text-align: center;
	border-radius: 20px;
	font-weight: bold
}

div p {
	margin-bottom: 10px;
}