<select class="d-block mx-auto w-25 mt-4" (change)="filtrarProductos($event.target.value)">
	<option value="todos">Todos los productos</option>
	<option value="macbook">MacBook</option>
	<option value="imac">iMac</option>
	<option value="macmini">MacMini</option>
	<option value="iphone">iPhone</option>
	<option value="ipad">iPad</option>
	<option value="watch">Watch</option>
	<option value="accesorios">Accesorios</option>
</select>

<div>
	<button [routerLink]="['/cart']" class="d-block mx-auto w-25 mt-4 btn btn-primary">Ir al carrito</button>
</div>

<div class="container">
	
	<div class="row">

		<div *ngFor="let producto of productos" class="my-4 col-sm-12 col-md-6 col-lg-4">
			
			<div class="card text-center">
				<img [src]="producto.image" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title text-left">{{ producto.name }}</h5>
					<p class="card-text text-left">{{ producto.description }}</p>
					<p class="card-text">{{ producto.price }} €</p>
					<button href="#" class="btn btn-primary" (click)="addToCart(producto.id)">Añadir producto</button>
		 		</div>
			</div>

		</div>

	</div>

</div>